.search-block__form {
    margin: 64px 0 0;     
    width: 100%;
    height: 84px;
    display: flex;    
    position: relative;
    flex-wrap: wrap;         
}

@media screen and (max-width: 768px) {
    .search-block__form {
       height: 76px;
       margin-top: 24px;
    }
}

@media screen and (max-width: 490px) {
    .search-block__form {
        flex-direction: column;  
        height: auto;    
        margin-top: 42px;
        max-width: 288px;
        align-self: center;
    }
} 
