.author__photo {
    border-radius: 50%;
    width: 464px;
    height: 464px;
    object-fit: cover;
}

@media screen and (max-width: 1200px) {
    .author__photo {
        width: 368px; 
        height: 368px;          
    }
}

@media screen and (max-width: 900px) {
    .author__photo {
        width: 300px; 
        height: 300px;          
    }
}

@media screen and (max-width: 768px) {
    .author__photo {
        width: 232px; 
        height: 232px;          
    }
}

@media screen and (max-width: 700px) {
    .author__photo {
        width: 272px; 
        height: 272px;          
    }
}
