.author__photo {
    border-radius: 1000px;
}

@media screen and (max-width: 1280px) and (min-width: 769px) {
    .author__photo {
        width: 100%; 
        min-width: 232px;
        height: auto;       
    }
}


