@import url(./__breadcrumb/counter__breadcrumb.css);
@import url(./__breadcrumb-item/counter__breadcrumb-item.css);
@import url(./__breadcrumb-link/counter__breadcrumb-link.css);
@import url(../content-title/content-title.css);
@import url(./__container/counter__container.css);
@import url(./__text/counter__text.css);
@import url(./__value/counter__value.css);

.counter {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 7.22% 80px;
    font-family: 'Roboto', Arial, sans-serif;
    color: #1a1b22;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    box-sizing: border-box;    
    background-color: #ffffff;    
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1280px) {
    .counter {        
        padding: 36px 6.2% 60px;           
    }
} 

@media screen and (max-width: 1024px) {
    .counter {        
        padding: 32px 5.2% 40px;           
    }
} 

@media screen and (max-width: 490px) {
    .counter {        
        padding: 16px 5% 24px;           
    }
} 