.technologies__item {
    margin-left: 42px;    
    display: flex;
    flex-direction: column;
    text-align: center;    
}

@media screen and (max-width: 1024px) {
    .technologies__item {
        margin-right: 24px;
        margin-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .technologies__item {
        margin-top: 33px;       
    }
}

