@import url(./__text/scale__text.css);
@import url(./__value/scale__value.css);

.scale {
    display: flex;
    margin-left: 104px;
}

@media screen and (max-width: 425px) {
    .scale {        
        display: none;          
    }
}