.empty-block__title {
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1a1b22;    
    max-width: 356px;
    text-align: center;
    margin: 0;    
}

@media screen and (max-width: 768px) {
    .empty-block__title {
        font-size: 24px;
        line-height: 28px;
    }
}

@media screen and (max-width: 490px) {
    .empty-block__title {
        font-size: 20px;
        line-height: 24px;
    }
} 