@import url(./_month/chart__text_month.css);

.chart__text {
    font-size: 12px;
    font-weight: normal; 
    line-height: 16px;
    letter-spacing: .4px;
    text-transform: uppercase;
    color: #b6bcbf;
    margin: 0;
}