.card__text {
    margin: 16px 0 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1a1b22; 
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    word-wrap: break-word;
}

@media screen and (max-width: 1024px) {
    .card__text {
        margin-top: 10px;
    }
}

